/* Apply to the overall page for consistent padding and box-sizing */
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Ensures that box-sizing is applied throughout */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Centering the main content vertically and horizontally */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Use the full viewport height */
  text-align: center;
}

/* Navigation bar styles */
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: large;
}

/* Form elements centered with max width */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110%;
}

textarea, button {
  width: 100%; 
  max-width: 500px;
  margin: 10px 0; /* Spacing above and below */
}

/* Button specific styles */
button {
  padding: 30px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Center content in the form and feedback */
.form-content, .feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feedback {
  margin-top: 20px;
}
